/* RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
div,
i,
label,
input {
  font-size: 16px;
  font-family: var(--main-font);
}
/* VARIABLES */
:root {
  --background-color: #26355d;
  --primary-color: #ff8f00;
  --primary-faded: hsla(34, 100%, 45%, 1);
  --secondary-color: #af47d2;
  --detail-color: #ffdb00;
  --success-color: #0a6847;
  --warning-color: #e6c700;
  --error-color: #b31312;
  --text-color: white;
  --box-shadow: 0px 5px 5px rgb(73, 73, 73);
  --text-shadow: 0px 2px 2px rgb(73, 73, 73);
  --main-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --text-title: 24px bold;
  --text-body: 18px bold;
  --text-small: 14px;
  --margin-left1: 15px;
}
html {
  height: -webkit-fill-available;
  margin: auto;
}
body {
  height: 100vh;
  height: 100svh;
  /* height: 100dvh; */
  height: 100%;
  /* width: 100%; */
  background: var(--background-color);
}
.container {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--secondary-color);
  display: grid;
  grid-template-rows: 0.3fr 5.55fr 0.5fr;
  grid-template-columns: 1fr;
}
/* HEADER AREA */
.header {
  background: var(--primary-color);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 5px 5px rgb(73, 73, 73);
  z-index: 10;
}
.profile-area {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
}
.profile-picture {
  display: grid;
  background: var(--detail-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: var(--margin-left1);
  margin-right: 8px;
}
.fa-user {
  font-size: 26px;
  color: var(--background-color);
  place-self: center;
}
.profile-names {
  color: var(--text-color);
}
.profile-username {
  font: var(--text-title);
  font-weight: 800;
  margin: 0;
  padding: 0;
}
.profile-id {
  font-size: 12px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.app-name-area {
  display: flex;
  flex-direction: column;
}
.app-name {
  color: var(--background-color);
  font: var(--text-title);
  font-weight: 1000;
  letter-spacing: 0.5px;
  margin-left: 30px;
  margin-top: 10px;
  position: relative;
  top: 10px;
}
.menu-button {
  cursor: pointer;
  color: var(--text-color);
  border: none;
  background: transparent;
  font-weight: 800;
  font-size: 12px;
  margin-bottom: 15px;
  position: relative;
  top: 8px;
  left: -5px;
}
.menu-expand-text {
  margin: 0 5px 0 0;
  position: relative;
  bottom: 4px;
}
.nav {
  background: var(--primary-faded);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.filter-area {
  margin-top: 15px;
  margin-left: var(--margin-left1);
}
.filters-button,
.projects-button {
  cursor: pointer;
  margin-bottom: 10px;
  color: var(--text-color);
  background: transparent;
  border: none;
  font: var(--text-title);
  font-weight: 800;
}
.filters,
.projects {
  color: var(--text-color);
  margin-left: 10px;
}

.projects.hide,
.filters.hide,
.nav.hide {
  display: none;
}
.all-tasks,
.today,
.tomorrow,
.this-week,
.this-month,
.project-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px dotted var(--primary-color);
}
.all-tasks-button,
.today-button,
.tomorrow-button,
.week-button,
.month-button,
.project-list-item-button {
  cursor: pointer;
  color: var(--text-color);
  background: transparent;
  border: none;
  font: var(--text-body);
  font-weight: 800;
}
h4 {
  margin-right: 15px;
}
.project-area {
  margin-top: 10px;
  margin-left: var(--margin-left1);
}
.content-area {
  display: none;
  grid-template-rows: 1fr;
  background-color: #fff;
}
.content-area.hide {
  display: grid;
}
.task-area {
  display: flex;
  flex-direction: column;
  background: var(--secondary-color);
}
.task-list {
  margin: 15px 15px 10px 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: var(--box-shadow);
}
.task-list-item {
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  border-radius: 5px;
  color: var(--text-color);
}
.task-header {
  display: flex;
  gap: 80px;
  align-items: center;
  padding: 8px 0;
}
.task-priority-color {
  position: absolute;
  width: 10px;
  height: 5%;
  border-radius: 3px;
}
.task-priority-color.low {
  background-color: var(--success-color);
}
.task-priority-color.med {
  background-color: var(--warning-color);
}
.task-priority-color.high {
  background-color: var(--error-color);
}
.task-field {
  cursor: pointer;
  display: flex;
  margin-left: 15px;
}
.task-text {
  align-self: center;
}
.check-box-unchecked {
  align-self: center;
  margin-right: 5px;
  font-size: 26px;
}
.check-box-unchecked.hide {
  display: none;
}
.check-box-checked {
  align-self: center;
  margin-right: 5px;
  font-size: 26px;
  color: red;
  display: none;
}
.check-box-checked.hide {
  display: inline-block;
}
.low-opacity {
  opacity: 0.5;
}
.line-through {
  text-decoration: line-through;
}
.task-box-buttons {
  position: relative;
  /* left: 180px; */
  display: flex;
  gap: 50px;
}
.expand-button {
  display: flex;
  background: transparent;
  border-style: none;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
}
.filter-expand,
.projects-expand {
  transform: rotate(180deg);
}
.fa-caret-down {
  color: var(--detail-color);
  font-size: 24px;
}
.fa-pen-to-square,
.fa-trash {
  color: var(--detail-color);
  font-size: 17px;
  align-self: center;
  margin-top: 3px;
}
.edit-expand-icon {
  display: flex;
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-0 {
  transform: rotate(0deg);
}
.edit-expand-icon::after {
  content: "Edit";
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--text-color);
  align-self: center;
  position: relative;
  right: 47px;
}
.delete-expand-icon {
  display: flex;
  width: 10px;
}
.delete-expand-icon::after {
  content: "Delete";
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--text-color);
  align-self: center;
  align-self: center;
  position: relative;
  right: 60px;
}
.task-info-area {
  display: none;
  border-radius: 5px;
  background: var(--primary-faded);
  padding-bottom: 5px;
  box-shadow: var(--box-shadow);
}
.task-info-area.hide {
  display: inline-block;
}
.task-note-area,
.task-extra-info {
  position: relative;
  background: var(--primary-color);
  border-radius: 5px;
  margin: 10px 20px 10px 20px;
  padding-bottom: 5px;
  box-shadow: var(--box-shadow);
}
.note-header,
.project-header,
.due-date-header,
.priority-header,
.color-info-header {
  font: var(--text-body);
  font-weight: 800;
  padding-top: 5px;
  margin: 0px 0 10px 10px;
}
.note-paragraph {
  margin: 5px 0 0 10px;
  font: var(--text-small);
  height: auto;
  max-width: 80%;
  text-wrap: wrap;
}
.project-info,
.due-date-info {
  display: flex;
}
.project-paragraph,
.due-date-paragraph {
  margin: 8px 0 0 5px;
  font: var(--text-small);
}
.color-info-icon {
  border-radius: 50%;
  font-size: 24px;
  margin-left: 8px;
  position: relative;
  top: 5px;
}
.priority-info {
  display: flex;
  justify-content: space-between;
}
.priority-boxes {
  display: flex;
  margin: 5px 10px 10px 0;
}
.priority-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: auto;
  margin: 0px 0 0 5px;
  font-size: var(--text-small);
  padding: 2px;
  border-radius: 5px;
  border-style: none;
  color: var(--text-color);
  font-weight: 800;
}
.low-priority-box {
  background: var(--success-color);
}
.med-priority-box {
  background: var(--warning-color);
}
.high-priority-box {
  background: var(--error-color);
}
.new-task-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: var(--background-color);
  box-shadow: var(--box-shadow);
  background: var(--detail-color);
  font-size: 50px;
  border-style: none;
  cursor: pointer;
  z-index: 10;
}
.color-info {
  display: flex;
  position: absolute;
  top: 0px;
  left: 200px;
}
.modal {
  width: max(375px, 98%);
  height: max(290px, 50%);
  margin: auto;
  background: var(--primary-color);
  border-color: var(--detail-color);
  border-radius: 5px;
}
.modal-content {
  padding: 15px 0 0 8px;
  color: var(--text-color);
}
.new-task-form {
  width: 86vw;
  height: 36vh;
  display: grid;
  overflow-y: hidden;
  display: flex;
}
.task-left-side {
  display: flex;
  flex-direction: column;
}
.new-task-label,
.new-note-label,
.new-project-label,
.new-color-label,
.new-date-label,
.new-priority-label {
  font: var(--text-body);
  font-weight: 800;
  text-shadow: var(--text-shadow);
  padding-bottom: 5px;
}
.new-task-input,
.new-project-input,
.new-note-input,
.new-date-input {
  background: var(--background-color);
  outline-color: var(--detail-color);
  color: var(--text-color);
  font: var(--text-small);
  width: 145px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}
.new-note-area {
  height: 100%;
}
.new-note-input {
  text-wrap: wrap;
  height: 65%;
}
.new-color-input {
  background: transparent;
  border-color: transparent;
  width: 25px;
}
.new-priority-area {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.priority-input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  width: 40px;
  height: 20px;
  padding-top: 2px;
  margin: 0 10px 0 0;
  color: var(--text-color);
  font-size: 13px;
  font-weight: 800;
  cursor: pointer;
}
.priority-input:checked {
  border: 2px solid black;
}
.new-priority-input-low {
  background: var(--success-color);
}
.new-priority-input-med {
  background: var(--warning-color);
}
.new-priority-input-high {
  background: var(--error-color);
}
.new-priority-input-low::before {
  content: "LOW";
  margin-left: 4px;
}
.new-priority-input-med::before {
  content: "MED";
  margin-left: 5px;
}
.new-priority-input-high::before {
  content: "HIGH";
  margin-left: 3px;
}
.new-task-submit-area {
  margin-top: 15px;
}
.new-task-cancel,
.new-task-create {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: var(--text-color);
  font: var(--text-body);
  font-weight: 800;
  text-decoration: underline;
}
.footer {
  background: var(--secondary-color);
  /* grid-row: 3 / 4; */
  position: sticky;
  height: 100px;
}
.priority-border {
  border: 3px solid black;
}
